<h1>Discussions</h1>

<% @discussions.each do |discussion| %>
  <div class="row">
    <div class="span4">
      <h3><%= link_to discussion.name, discussion %></h3>
      <p><em><%= discussion.group.name %></em></p>
      <p><%= discussion.description %></p>
    </div>
    <div class="span6">
      <% unless discussion.posts.empty? %>
        <h4>Most Recent Post</h4>
        <% newest_post = discussion.posts.last %>
        <p><%= newest_post.content %></p>
      <% end %>
    </div>
    <div class="span2">
      <h4>Post Count</h4>
      <p><%= discussion.posts.length %></p>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
