<p id="notice"><%= notice %></p>

<h1>
  <%= @group.name %>
  <%= link_to 'Edit Group', edit_group_path(@group), :class => "btn btn-primary pull-right" %>
  </h1>

<div class="row">

  <div class="span6">
    <h3>Discussions</h3>
    <% for discussion in @group.discussions %>
      <p><%= link_to discussion.name, discussion %></p>
    <% end %>
    
    <h4>Create New Discussion</h4>
    <%= form_for(@group.discussions.build) do |f| %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  
  <div class="span6">
    <h3>Upcoming Events</h3>
    <ul>
    <% for event in @events %>
      <li><%= event.name %></li>
    <% end %>
    </ul>
    
    <% if current_user.has_permission(@group.id, 5) %>
      <%= form_for([@group, @group.events.build]) do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :where %>
          <%= f.text_field :where %>
        </div>
        <div class="field">
          <%= f.label :when %>
          <%= f.datetime_select :when %>
        </div>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <h3>Users</h3>
  <div class="span8">
    <table>
      <% for user in @users %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <% if current_user.has_permission(@group.id, 4) %>
              <%= link_to 'Destroy', [@group, Permission.where(:user_id => user.id, :group_id => @group.id).first], method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span4">
    <% if current_user.has_permission(@group.id, 4) %>
      <%= form_tag(new_group_permission_path(@group.id), :method => 'get') do %>
        <%= label_tag(:user_email, "User Email:") %>
        <%= text_field_tag(:user_email) %>
        <%= submit_tag("Add Permissions") %>
      <% end %>
    <% end %>
  </div>
</div>
