<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p><strong>Users:</strong></p>

<table>
  <% for user in @users %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to 'Destroy', [@group, Permission.where(:user_id => user.id, :group_id => @group.id).first], method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= form_tag(new_group_permission_path(@group.id), :method => 'get') do %>
  <%= label_tag(:user_email, "User Email:") %>
  <%= text_field_tag(:user_email) %>
  <%= submit_tag("Add Permissions") %>
<% end %>

<div class="row">
  <div class="span6">
    <h3>Discussions</h3>
    <% for discussion in @group.discussions %>
      <p><%= discussion.name %></p>
    <% end %>
    <%= form_for(@group.discussions.build) do |f| %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <h3>Upcoming Events</h3>
  </div>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
