<h1>Edit Account</h1>

<%= form_for(@user, :url => {:action => "update"}) do |f| %>
  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
