<h1>New permission</h1>

<%= form_for([@group, @group.permissions.build]) do |f| %>
  <%= f.hidden_field(:user_id, :value => @user.id) %>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %><br />
  </div>
<% end %>

<%= link_to 'Back', group_permissions_path %>
