<p>
  <b>User:</b>
  <%= @permission.user.email %>
</p>

<p>
  <b>Group:</b>
  <%= @permission.group.name %>
</p>

<p>
  <b>Level:</b>
  <%= @permission.level %>
</p>


<%= link_to 'Edit', edit_group_permission_path(@permission.group, @permission) %> |
<%= link_to 'Back', group_permissions_path(@permission.group, @permission) %>
